.aa{
    font-size: 18px;
    color: rgb(53, 53, 53);
    &:hover{
        color: rgb(253, 178, 37);
    }
}

.h55{
    font-size: 35px;
    color: rgb(68, 68, 68);
}

.bottom-color{
    color: black;
}